#login, #menu-mob{
    display: none; 
    border-radius: 6px;
}
    
  .tabs {
    max-width: 700px;
    margin: 0 0 30px;
  }
  .tabs__caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: 0 0 0 0;
  }
  .tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
    background: $grey;
  }
  .tabs__caption:after {
    content: '';
    display: table;
    clear: both;
  }
  .tabs__caption li {
    padding: 9px 15px;
    width: 50%;
      margin: 1px 0 0 0px;
    background: $grey;
    color: $text-grey;
    position: relative;
    border: solid $text-grey;
    border-width: 1px 1px 0; 
    text-align: center;
  }
  .tabs__caption li:not(.active) {
    cursor: pointer;
  }
  .tabs__caption li:not(.active):hover {
    background: $primary-color;
    color: #fff;
    border-color: $text-grey;
  }
  .tabs__caption .active {
    background: #FFF;
    color: $primary-color;
    border-color: $text-grey;
  }
  .tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
  }
  .tabs__content {
    display: none;
    background: #FFF;
    border: 1px solid $text-grey; 
    padding: 7px 0;
  }
  .tabs__content.active {
    display: block;
  }

  .tabs__content{
      div{
        padding: 5px 15px;
        input{
            @extend %input;
            width: 100%;
        }
        button{
            width: 100%;
        }
           
      }
      .login_social {
        text-align: center;
        font-size: 13px;
        p{
            padding: 0;
        }
      }
      .login_reg {
        text-align: center;
      }
      .login_politic {
        font-size: 12px;
        p{
            width: 310px;
            line-height: 12px;
        }
      }
   
  }
   
  @media screen and (max-width: 650px) {
    .tabs__caption li {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
     
  }

  #menu-mob{
     
    ul{          
      list-style: none;
      padding: 0 5px;
      background: #fff;  
      li{
        border-bottom: 1px inset #c5c5c5;
       }
      a{
        line-height: 65px;
        font-size: 20px;
      }
      svg{
        fill: $primary-color;
      }
    }  
  }