$primary-color: #cf1415;
$primary-color__hover:#a2101d;
$text: #000000;
$grey: #f4f3f7;
$text-grey: #c5c5c5;
$width-content: 1170px;

$font-regular: "Muller-Rg";

$font-light: "Muller-lg";
 

 

%background-white {
    height: 100%;    
    width: 100%;     
    background: #fff; 
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
}

%input{ 
    padding: 8px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #c5c5c5;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
} 
%button{  
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 7px 8px 4px;
    outline: none; 
    cursor: pointer;
}
 

 