@font-face {
  font-family: "Muller-Rg";
  src: url("../fonts/mullerregular.woff");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("../fonts/mullerregular.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller-B";
  src: url("fonts/mullermedium");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("fonts/Proxima/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muller-Lg";
  src: url("../fonts/MullerLight.otf");
  src: local("Proxima Nova lg"), local("ProximaNova-lg"),
    url("../fonts/MullerLight.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

