

 .content__title{
  background: $green;
  text-align: center;  
  color: #fff;   
  margin: 5px 0;    
  font-size: 16px;  
  max-width: 100vw;
}
select, input, button{
  padding: 8px; 
  border-radius: 4px;
  outline: none;
  border: 1px solid #a5a5a5; 
  background-color: #fff; 
  cursor: pointer;
}

  
.btn_yellow{
  background-image: linear-gradient(to top, $orange, #ffde2a);
  padding: 5px 10px;
  border: none;
  font-size: 13px; 
}

.btn_green{
   
  padding: 2px 5px;
  border: solid 1px $green;
  font-size: 10px;
  color: $green;
}
.btn_blue{
   
  padding: 2px 5px;
  border: solid 1px $blue;
  font-size: 10px;
  color: $blue;
}
.btn_emo{
  border: none;
  padding: 2px 5px;
  text-decoration: underline;
  color: #000;
} 
.btn_text{
  display: grid;
    grid-template-columns: 10px auto;
    align-items: center;
    gap: 3px;
  cursor: pointer;
  font-size: 13px;
    font-weight: 600;
  &:hover {
    color: #fc5218;
    .svg-arrow{
      fill: #fc5218;

    }
  }
}


.bg-orange{
  background-color: $orange;
}
.bg-blue{
  background-color: $blue;
} 
.svg-lock{
  width: 12px;
  margin: 0 auto;
}
.svg-arrow{
  height: 10px;
    width: 10px;
    transform: rotate(90deg);
}
.rotate90{
  transform: rotate(0deg);
}