@import "modern-css-reset.scss";
@import "_vars.scss";
@import "_menu.scss";

.active{            
  background-color: $green;
}
body{
  font-family: sans-serif;
  overflow-x: hidden;
}

header{
  display: grid; 
  grid-template-columns: 210px 1fr;
  justify-items: end;
  align-items: center;
  height: 60px;
  width: 100%;
  background: $grey; 
  position:relative;
  z-index:1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  .logo{
    padding-left: 60px;
    img{
      height: 40px;
    }
  }
  .select__hotel{
    padding-right: 10%;
    font-size: 16px;
    font-weight: 500;
  }


 
   
} 

.main{
    display: grid;
    grid-template-columns: auto 1fr;
    .hamburger-menu{
      float:left; 
    }
    .content{
      float:left;
      width: 100%;
      overflow-x: auto;
    &::-webkit-scrollbar {width: 8px; height: 8px;}
    &::-webkit-scrollbar-track {background: #eee;}
    &::-webkit-scrollbar-thumb {background: #ccc;}


      .content_links{
        display: grid;
        grid-auto-flow: column;
        margin-bottom: 5px;
        background: $blue; 
        .content_links_item{
          text-align: center;  
          color: #fff;          
          
          text-decoration: none;         
          
        }  
      }
      .content__header{
        background: $green;
        text-align: center;  
        color: #fff;         
      }     
      .content__body{
        padding-bottom: 50px;
       
      } 
    }

}
/*about*/
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  width: 700px;
  padding: 20px;
  margin: 0 auto;
  .about__btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    padding-top: 20px;
    
   }
}


/*numberrooms*/
.numberrooms{
  
 
  .numberrooms__header{
    padding: 8px 0;
    .numberrooms__header-title {
      font-size: 15px;
    }
  }
.numberrooms__newitem, .numberrooms__rooms{
  li{ 
    &:not(:last-child) {
      border-right: 1px #b4b0b0 solid;
     }
   }

}
 
  .numberrooms-table{
     
      list-style: none;
      margin: 0;
      padding: 2px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr) repeat(3, 2fr);;
      column-gap: 1px; 
      text-align: center;
      align-items: center;
      font-size: 12px;
      border-bottom: 1px #b4b0b0 solid;

       
    select{
      padding: 0; 
       
    }
     input{
      padding: 0;
      border: none;
      width: 100%;
      text-align: center;
     } 
  }
  .catrooms-table{
    
    grid-template-columns: repeat(2, 1fr) repeat(2, 2fr);;
  }

}

/*saleschannels*/
.saleschannels{
    .saleschannels-table {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
    }

    .saleschannels-header {
      font-weight: 600;
      font-size: 17px;
    }
    .saleschannels-title {
      border: none;
      font-size: 14px;
    }
}

/* prices*/
.prices{  
    overflow-x: auto;
    max-height: calc(100vh - 120px);
    &::-webkit-scrollbar {width: 8px; height: 8px;}
    &::-webkit-scrollbar-track {background: #eee;}
    &::-webkit-scrollbar-thumb {background: #ccc;} 
  
     
    .table{
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
      font-size: 13px;
      th, td{
        border: 1px solid $grey*0.8; 
        text-align: center;
        position: relative;
      }
      td:nth-of-type(1) {
        min-width:230px;
      }
      td:nth-of-type(n+2) {
        min-width:37px;
        width:37px;
      }
      .holiday{
        background: #fff4f4;
      }
      .table__header {
        caption-side: top;
        text-align: left;
        padding: 10px 70px; 
        font-size: 17px;
      }
      td:nth-of-type(5){  
          background: rgba(255,38,38,0.33); 
      }
      .table__left-title {
          
          background:#fff ;  
          text-align: left;
          padding-left: 10px;
      }
      .table__date{ 
          pointer-events: none;
       
          .table__date-w {
            font-size: 10px;
          }
      
          .table__date-m {
            font-size: 10px;
            font-weight: 100;
          }
       
      }
        
        .table__status {
          background: $orange;
        }  
        .table__available{
          .table__available-item{
            font-weight: 100;
            pointer-events: none;
            
          }
        }
        .table__room {
          padding: 6px 0 2px 32px;
          line-height: 1em;
          .table__room-comment { 
            color: #666;
            font-size: 11px;
          }
      }
      
     .booking{       
      position: absolute;
      z-index: 1;
      top: 5px; 
      left: 20px;     
      width: 339px;
      height: 25px;
      background-color: #b5d589;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 1px 1px 4px 0px #000;
      .booking__name {
        text-align: left;
        padding: 3px 5px;
        font-weight: 600;
    }
     } 

    } 
}
/*panel*/
.panel{
  background: $grey;
  position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px 10% 10px 0;
    z-index: 2;
  
.calendar{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  gap: 10px;
  button{
    border-radius: 0px; 
    border: none;  
    background: #e4e4e4;
    height: 40px;
    padding: 0 1.2em;
    &:hover {
      background: #d3d3d3;
    }
  }
  .calendar__select{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
    .calendar__icon{
      border-radius: 4px 0 0 4px;
      .svg-calendar {
        height: 16px;
    }

    }
    .calendar__today{
      border-radius:   0 4px 4px 0;

    }
  }
  .calendar__move{
     
      display: grid; 
      grid-template-columns: auto auto;
      gap: 1px;
      .move__prev {
      border-radius: 4px 0 0 4px;
      
      }
      .move__next {
      border-radius:   0 4px 4px 0;
      }


    .svg-prev{
      height: 10px;
      transform: rotate(180deg);
    }
    .svg-next{
      height: 10px;
    }
  }
}

}

/*form*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
    top: 0; 
    z-index: 9;
    font-size: 13px;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 16px 900px #00000061;
    input,select {
      padding: 0 5px ; 
    }
}
 
  .form-popup__g1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;

  } 
  .form-popup__g1{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 5px;
  }
  .form-popup__gauto{ 
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }
  
 

/* Add styles to the form container */
.form-container {
  display: grid; 
  gap: 10px;
  padding: 20px;
  background-color: white;
  width: fit-content; 
  box-shadow: 1px 2px 16px 2px #000; 
}
 
fieldset {
  border: none;
  padding: 0;
} 
legend {
  font-size: 14px;
}
 
  

@import "_patterns.scss";